<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- bootstrap-formhelpers CSS  JS-->
    <link rel="stylesheet"
          href="https://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css"/>
    <script src="https://bootstrapformhelpers.com/assets/js/bootstrap-formhelpers.min.js"></script>

    <!-- plotly   JS-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!-- interaction code   JS-->
    <script src="assets/js/interaction.js"> </script>


    <title>Data Dashboard</title>

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">World Bank Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://data.worldbank.org/">World Bank</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="row ml-1 mt-2">
  <!--    <div class="col-1">
        <a href="https://www.github.com">
          <img class="img-fluid mt-2" src="imgs/githublogo.png" alt="github logo">
        </a>
      </div>-->

      <div class="col-1 border-right">

        <a href="https://www.linkedin.com">
          <img class="mb-3 img-fluid" src="/static/imgs/linkedinlogo.png" alt="linkedin logo">
        </a>

        <a href="https://www.github.com">
          <img class="mb-3 img-fluid " src="/static/imgs/githublogo.png" alt="github logo">
        </a>

        <a href="https://www.instagram.com">
          <img class="mb-3 img-fluid " src="/static/imgs/instagram.png" alt="instagram logo">
        </a>

      </div>

      <div class="col-10">
          <h2>World Bank Data Dashboard</h2>
          <h4 class="text-muted">Land Use Visualizations</h4>


          <div class="container-fluid mt-5 ml-1 mr-5 ">

            <div class="row mb-3">

              <div class="col-4">
                First Date:
                <div class="bfh-datepicker" data-format="y-m-d" data-date="today">  </div>
              </div>
              <div class="col-4">
                Last Date:
                <div class="bfh-datepicker" data-format="y-m-d" data-date="today">  </div>
              </div>

              <div class="col-4">
                Country:
                <div id="countries_states2" class="bfh-selectbox bfh-countries" data-country="US" data-flags="true">
                  <input type="hidden" value="">
                  <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                    <span class="bfh-selectbox-option input-medium" data-option=""></span>
                    <b class="caret"></b>
                  </a>
                  <div class="bfh-selectbox-options">
                  <div role="listbox">
                    <ul role="option">
                    </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>



          </div>





        <div class="container-fluid mt-5 ">

          <div class="row mb-3">
            <div class="col-4">
              <img class="img-fluid" src="/static/imgs/plot1.png" alt="chart one">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="/static/imgs/plot2.png" alt="chart two">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="/static/imgs/plot3.png" alt="chart three" >
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <img class="img-fluid pl-3" src="/static/imgs/plot4.png" alt="chart four">
            </div>
            <div class="col-6">
              <img class="img-fluid pl-3" src="/static/imgs/plot5.png" alt="chart five">
            </div>
          </div>

        </div>
      </div>

    </div>



  </body>
</html>
